{% extends 'base.html' %}

{% block content %}

<div class="container py-2">
    
    <div class="row">

        

        <div class="mx-auto col-8" id='question-navigator'>
            <h1>
                <span style="width: 100%;" class="badge badge-info">{{question.quiz.title}}</span>
            </h1>

                <form action="{% url 'choose_question' question.quiz.id %}" method="POST" id="query" autocomplete="off">
                    {% csrf_token %}
                    <div class="row">
                        
                        <div class="col-5 form-group">
                                <label for="sel1">Question Number </label>
                        </div>

                        <div class="col-3 form-group">
                                <select class="form-control" id="question" name="question">

                                    {% for i in range %}
                                        <option value="{{ i }}" {% if i == question.order_num %} selected="selected" {% endif %}>
                                            {{ i }}
                                        </option>
                                    {% endfor %}

                                </select>
                        </div>

                        <div class="col-4 form-group">
                            <button type="submit" class="btn btn-success btn-block" id="submit">Query</button>
                        </div>
                    </div>
                </form>
        </div>

        

        <div class="mx-auto col-5" id='question-form'>
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'add_or_update_question' question.quiz.id question.id %}" method="POST" autocomplete="off">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col">
            

                               <label>Question Type:</label>
                                <br/>
                                <!-- Form field - Question Type -->
                                <!-- Group of default radios - listening -->
                                <div class="custom-control custom-control-inline custom-radio">
                                    <input type="radio" class="custom-control-input" id="listening" value="listening" name="type" {% if question.type == 'listening' or question.type == None %} checked {% endif %}>
                                    <label class="custom-control-label" for="listening">Listening</label>
                                </div>
                                
                                <!-- Group of default radios - reading -->
                                <div class="custom-control custom-control-inline custom-radio">
                                    <input type="radio" class="custom-control-input" id="reading" value="reading" name="type" {% if question.type == 'reading' %} checked {% endif %}>
                                    <label class="custom-control-label" for="reading">Reading</label>
                                </div>
                                  
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
            
                                <!-- Errors - order_num -->
                                {% if form.quiz.errors %}
                                <label class="alert alert-danger">{{ form.quiz.errors }}</label> {% endif %}
                                <label>ORDER NUMBER</label>
                                <!-- Form field - order_num -->
                                <input type="text" placeholder="ORDER NUMBER" class="form-control" name="order_num" id="order_num" value="{{question.order_num}}" required>
            
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
            
                                <!-- Errors - Question -->
                                {% if form.quiz.errors %}
                                <label class="alert alert-danger">{{ form.quiz.errors }}</label> {% endif %}
                                <label>Question</label>
                                <!-- Form field - RANK -->
                                <textarea type="text" placeholder="Question" class="form-control" name="question" id="question" rows=4 required>{{question.question}}</textarea>
            
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
            
                                <!-- Errors - RANK -->
                                {% if form.quiz.errors %}
                                <label class="alert alert-danger">{{ form.quiz.errors }}</label> {% endif %}
                                <label>Answer</label>
                                <!-- Form field - RANK 
                                <input type="text" placeholder="Answer" class="form-control" name="answer" id="answer" value="{{question.answer}}" required>
                                -->
                                <select class="form-control" id="answer" name="answer" >
                                    <option value="a" {% if 'a' == question.answer %} selected="selected" {% endif %}>a</option>
                                    <option value="b" {% if 'b' == question.answer %} selected="selected" {% endif %}>b</option>
                                    <option value="c" {% if 'c' == question.answer %} selected="selected" {% endif %}>c</option>
                                    <option value="d" {% if 'd' == question.answer %} selected="selected" {% endif %}>d</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
            
                                <!-- Errors - RANK -->
                                {% if form.quiz.errors %}
                                <label class="alert alert-danger">{{ form.quiz.errors }}</label> {% endif %}
                                <label>Choice1</label>
                                <!-- Form field - RANK -->
                                <input type="text" placeholder="Choice1" class="form-control" name="choice1" id="choice1" value="{{question.choice1}}" required>
            
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
            
                                <!-- Errors - RANK -->
                                {% if form.quiz.errors %}
                                <label class="alert alert-danger">{{ form.quiz.errors }}</label> {% endif %}
                                <label>Choice2</label>
                                <!-- Form field - RANK -->
                                <input type="text" placeholder="Choice2" class="form-control" name="choice2" id="choice2" value="{{question.choice2}}" required>
            
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
            
                                <!-- Errors - RANK -->
                                {% if form.quiz.errors %}
                                <label class="alert alert-danger">{{ form.quiz.errors }}</label> {% endif %}
                                <label>Choice3</label>
                                <!-- Form field - RANK -->
                                <input type="text" placeholder="Choice3" class="form-control" name="choice3" id="choice3" value="{{question.choice3}}" required>
            
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
            
                                <!-- Errors - RANK -->
                                {% if form.quiz.errors %}
                                <label class="alert alert-danger">{{ form.quiz.errors }}</label> {% endif %}
                                <label>Choice4</label>
                                <!-- Form field - RANK -->
                                <input type="text" placeholder="Choice4" class="form-control" name="choice4" id="choice4" value="{{question.choice4}}" required>
            
                            </div>
                        </div>


                        

                        <div class="form-group">
                            <div class="col">

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block" id="submit">Save</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="mx-auto col-5" id="question-preview" style="word-wrap: break-word;">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
            </div>
            
            <div style="">
                <span>
                    {% if question.order_num == ' ' %}
                    You didn't specify the Order Number!!!
                    {% else %}
                    Order Number : {{question.order_num}}
                    {% endif %}
                </span>

                <h2>Question:</h2>
                
                <h3>
                    {% if question.question == ' ' %}
                    You didn't specify the question yet !!!
                    {% else %}
                    {{question.question}}
                    {% endif %}
                </h3>
                <h3>
                    {% if question.answer == ' ' %}
                    You didn't specify an answer yet !!!
                    {% else %}
                    <strong>Answer : </strong>
                    <span style="text-transform: uppercase;">
                        {{question.answer}}
                    </span>
                    {% endif %}
                </h3>
                <h3>
                    {% if question.choice1 == ' ' %}
                    You didn't specify choice A yet !!!
                    {% else %}
                    <strong>A - </strong>{{question.choice1}}
                    {% endif %}
                </h3>
                <h3>
                    {% if question.choice2 == ' ' %}
                    You didn't specify choice B yet !!!
                    {% else %}
                    <strong>B - </strong>{{question.choice2}}
                    {% endif %}
                </h3>
                <h3>
                    {% if question.choice3 == ' ' %}
                    You didn't specify choice C yet !!!
                    {% else %}
                    <strong>C - </strong>{{question.choice3}}
                    {% endif %}
                </h3>
                <h3>
                    {% if question.choice4 == ' ' %}
                    You didn't specify choice D yet !!!
                    {% else %}
                    <strong>D - </strong>{{question.choice4}}
                    {% endif %}
                </h3>
            </div>
            
        </div>

        <div class="mx-auto col-2" id="progress-questions" style="left: 0px;
        top: 220px;
        position: absolute;">
            <div id="progress-grid">
                {% for i in range %}
                    <button
                        style="width:50px;border-radius: 0 !important;margin-top: 5px !important;" 
                        class="btn {% if i in all_num_orders_done %} btn-success {% else %} btn-danger{% endif %}">
                             {{i}}
                    </button>
                {% endfor %}
            
        </div>
        </div>
        

    </div>

</div>

{% endblock %}