{% extends 'base.html' %}
{% block title%}
grades
{% endblock %}


{% block content %}


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Listening Score</th>
        <th scope="col">Reading Score</th>
        <th scope="col">Score</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        {% for student in students %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.listening_score}}</td>
        <td>{{student.reading_score}}</td>
        <td>{{student.score}}</td>
        <td>{{student.date}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
