{% extends 'base.html' %} 
{% block title %} starting quiz {% endblock %} 

{% block style%}

        <style>
        .holder{
                background-color: #ff6b35;
                font-size: 20px;
                color: #e9ff70;
                line-height: 50px;
                text-align: center;
                border-radius: 20px 0px 20px;
        }

        #timer{
                position: fixed;
                right: 15px;
                top: 100px;
                z-index: 99999;
        }
        </style>
{% endblock %}

{% block content %} 

<div id="timer">
        <div class="holder">
            <span id="min_sec">60 Min : 00 Sec</span>
        </div>
</div>

<div style="margin-right:160px;margin-left:160px;">
        <h4> TEST ID: 
        {{ quiz.title }}
        </h4>
        <audio controls autoplay style="display: none;">
                <source src="{{quiz.audio.url}}" type="audio/ogg" >
        </audio>

        

        <form method="POST" id="myform" action="" autocomplete="off">
        {% csrf_token %}
        {% for question in questions %}
        <div >
            <!-- LISTENING && READING parts-->
            {% if forloop.counter == 1 %}
            <h1> I - Listening Part </h1>
            {% elif forloop.counter == 4 %}
            <h1> II - Reading Part </h1>
            {% endif %}
            <h3 class="question-wrapper"> <span>{{ forloop.counter }} -</span> {{ question }}</h3>
            <div class="answer-wrapper">
                <ul class="list-group list-group-flush">
                    
                        <li class="list-group-item">
                                <input type="radio" id="choice1" name="{{question.pk}}" value="a">
                                <span>{{question.choice1}}<span> 
                        </li>
                        <li class="list-group-item">            
                                <input type="radio" id="choice2" name="{{question.pk}}" value="b">
                                <span>{{question.choice2}}<span> 
                        </li>
                        <li class="list-group-item">
                                <input type="radio" id="choice3" name="{{question.pk}}" value="c">
                                <span>{{question.choice3}}<span> 
                        </li>
                        <li class="list-group-item">
                                <input type="radio" id="choice4" name="{{question.pk}}" value="d">
                                <span>{{question.choice4}}
                        </li>
                        
                </ul>
            </div>
        </div>
        <br>
        {% endfor %}
        <div class="form-group">
                        <div class="col">
        
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block" id="submit">Save</button>
        
                        </div>
                    </div>
        <form>
        </div>
        {% endblock %}
{% block script %}
<script>
        function startTimer(duration, min_sec) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);
        
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
        
                min_sec.textContent = ' '+minutes+' Min : '+seconds+' Sec ';
                
                if(minutes == 0){
                    const myform = document.querySelector('#myform');
                    myform.submit()
                    //window.location.href = '/endtest'
                }
    
                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }
        window.onload = function () {
            var oneHour = 60 * 60;
            const min_sec = document.querySelector('#min_sec');
            startTimer(oneHour, min_sec);
        };
        
</script>
{% endblock %}